* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.gradient-bg  {
  /* ff 3.6+ */
  background:-moz-radial-gradient(ellipse at 50% 50%, rgba(5, 5, 5, 1) 0%, rgba(245, 0, 0, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(ellipse at 50% 50%, rgba(5, 5, 5, 1) 0%, rgba(245, 0, 0, 1) 100%);

  /* opera 11.10+ */
  background:-o-radial-gradient(ellipse at 50% 50%, rgba(5, 5, 5, 1) 0%, rgba(245, 0, 0, 1) 100%);

  /* ie 10+ */
  background:-ms-radial-gradient(ellipse at 50% 50%, rgba(5, 5, 5, 1) 0%, rgba(245, 0, 0, 1) 100%);

  /* global 92%+ browsers support */
  background:radial-gradient(ellipse at 50% 50%, rgba(5, 5, 5, 1) 0%, rgba(245, 0, 0, 1) 100%);
}

.gradient-bg2 {
    /* ff 3.6+ */
    background:-moz-radial-gradient(ellipse at 50% 50%, rgba(245, 0, 0, 1) 0%, rgba(5, 5, 5, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(ellipse at 50% 50%, rgba(245, 0, 0, 1) 0%, rgba(5, 5, 5, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(ellipse at 50% 50%, rgba(245, 0, 0, 1) 0%, rgba(5, 5, 5, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(ellipse at 50% 50%, rgba(245, 0, 0, 1) 0%, rgba(5, 5, 5, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(ellipse at 50% 50%, rgba(245, 0, 0, 1) 0%, rgba(5, 5, 5, 1) 100%);

}

.gradient-bg3 {
    /* ff 3.6+ */
    background:-moz-radial-gradient(ellipse at 50% 50%, rgba(138, 134, 134, 1) 0%, rgba(5, 5, 5, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(ellipse at 50% 50%, rgba(138, 134, 134, 1) 0%, rgba(5, 5, 5, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(ellipse at 50% 50%, rgba(138, 134, 134, 1) 0%, rgba(5, 5, 5, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(ellipse at 50% 50%, rgba(138, 134, 134, 1) 0%, rgba(5, 5, 5, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(ellipse at 50% 50%, rgba(138, 134, 134, 1) 0%, rgba(5, 5, 5, 1) 100%);

}

.nav-scroll {
  margin-bottom: 400px;
}